#visual {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    color: #555555;

    ul.imgBtn{
        position: absolute;
        z-index: 3;
        display: flex;
        right: 15%;
        bottom: 10%;

        >li{
            width: 6vw;
            height:6vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin: 0 10px;
            cursor: pointer;
            transform: scale(1);
            transition: 0.5s;
            box-shadow: 0px 2px 5px 1px rgba(255, 255, 255, 0.5);
          

            &:hover{
                transform: scale(1.1);
                z-index: 3;
            }

            &:nth-of-type(1){
                background: url(../img/main/visual/img/visual1.jpg) center/cover no-repeat;
            }
            &:nth-of-type(2){
                background: url(../img/main/visual/img/visual2.jpg) center/cover no-repeat;
            }
            &:nth-of-type(3){
                background: url(../img/main/visual/img/visual3.jpg) center/cover no-repeat;
            }

            >a{
                display: block;
                font: 400 16px/126px "Galada", "arial";
                text-align: center;
                color: #fff;
                text-transform: uppercase;
            }

        }
    }



    >.inner {
        width: 100%;
        height: 100%;

        > li{
            &.box {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                z-index: 1;
                position: absolute;
                transition: clip-path 2s;
    
                > .wrap {
                    width: 1180px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    &::after{
                        content: "";
                        display: block;
                        clear: both;
                    }
    
                    > .left {
                        float: left;
                        z-index: 1;
    
                        > h1 {
                            font: 30px/1 "Galada", "arial";
                            color: #555555;
                            margin-bottom: 20px;
                            transition: 0.5s;
                        }
    
                        > p {
                            font: 20px/1 "Comfortaa", "arial";
                            color: #555555;
                            transition: 0.5s;
                        }
                    }
    
                    > .right {
                        float: right;
                        display: block;
                        width: 1200px;
                        height: 600px;
    
                        > h1 {
                            font: 20px/1 "arial";
                            color: #fff;
                            transition: 0.5s;
                        }
    
                        > p {
                            font: bold 20px/1 "arial";
                            color: rgb(199, 34, 34);
                            transition: 0.5s;
                        }
                        &.rightImg01{
                            background: url(../img/main/visual/img/visual1.jpg) center/cover no-repeat;
                        }
                        &.rightImg02{
                            background: url(../img/main/visual/img/visual2.jpg) center/cover no-repeat;
                        }
                        &.rightImg03{
                            background: url(../img/main/visual/img/visual3.jpg) center/cover no-repeat;
                        }
                    }
                }
    
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: -10px;
                    width: 60%;
                    height: 100%;
                    // transform: skewX(-30deg);
                    background-color: rgba(255,255,255,0.5);
                    z-index: -1;
                }
    
                &:nth-of-type(1){
                    clip-path:circle(0% at 67% 80%);  
                    background: url(../img/main/visual/img/visual1.jpg) center/cover no-repeat;
    
                }
                &:nth-of-type(2){
                    clip-path:circle(0% at 74% 80%);  
                    background: url(../img/main/visual/img/visual2.jpg) center/cover no-repeat;
    
                }
                &:nth-of-type(3){
                    clip-path:circle(0% at 82% 80%);  
                    background: url(../img/main/visual/img/visual3.jpg) center/cover no-repeat;
    
                }         
                
            }
            &#box1 {
                background: url(../img/main/visual/img/visual1.jpg) center/cover no-repeat;
    
                // >.right{
                //     &::after{
                //         content: "";
                //         display: block;
                //         width: 1200px;
                //         height: 600px;
                //         background: url(../img/main/visual/img/visual1.jpg) center/cover no-repeat;
                //     }
                // }
            }
    
            &#box2 {
                background: url(../img/main/visual/img/visual2.jpg) center/cover no-repeat;
                
                // >.right{
                //     &::after{
                //         content: "";
                //         display: block;
                //         width: 1200px;
                //         height: 600px;
                //         background: url(../img/main/visual/img/visual2.jpg) center/cover no-repeat;
                //     }
                // }
              
            }
    
            &#box3 {
                background: url(../img/main/visual/img/visual3.jpg) center/cover no-repeat;
                background-color: blueviolet;
    
                // >.right{
                //     &::after{
                //         content: "";
                //         display: block;
                //         width: 1200px;
                //         height: 600px;
                //         background: url(../img/main/visual/img/visual3.jpg) center/cover no-repeat;
                //     }
                // }
            }

            &.upper{

                z-index: 3;
    
                &:nth-of-type(1){
                    clip-path:circle(130% at 67% 80%);  
                    background: url(../img/main/visual/img/visual1.jpg) center/cover no-repeat;
    
                }
    
                &:nth-of-type(2){
                    clip-path:circle(130% at 74% 80%);  
                    background: url(../img/main/visual/img/visual2.jpg) center/cover no-repeat;
    
                }
                &:nth-of-type(3){
                    clip-path:circle(130% at 82% 80%);  
                    background: url(../img/main/visual/img/visual3.jpg) center/cover no-repeat;
    
                }
            }

            &.lower{

                z-index: 2;
    
                &:nth-of-type(1){
                    clip-path:circle(130% at 67% 80%);  
                    background: url(../img/main/visual/img/visual1.jpg) center/cover no-repeat;
    
                }
    
                &:nth-of-type(2){
                    clip-path:circle(130% at 74% 80%);  
                    background: url(../img/main/visual/img/visual2.jpg) center/cover no-repeat;
    
                }
                &:nth-of-type(3){
                    clip-path:circle(130% at 82% 80%);  
                    background: url(../img/main/visual/img/visual3.jpg) center/cover no-repeat;
    
                }
            }
        }
    }
}


//tablet
@media screen and (max-width:$tablet){
    #visual {
        width: 100%;
        height: 600px;
        
        ul.imgBtn{
            >li{
                margin-left: 0px;
            }
        }

        >.inner {
            width: 100%;
            height: 100%;

            >#box1{
                a{
                    display: none;
                }
            }
            >#box2{
                a{
                    display: none;
                }
            }
            >#box3{
                a{
                    display: none;
                }
            }
            
            > li {
                width: 100%;
                height: 100%;
                padding: 250px 60px;
                
    
                &.box{
                    width: 100%;
                    padding: 100px 0;
                    
                    >.wrap {
                        width: 100%;
                        margin: 0 auto;
                        padding: 0 20px;
        
                        >.left {
                            float: none;
                            width: 70%;
                            text-align: left;
        
                            >h1 {
                                font: 60px/1 "Galada", "arial";
                            }
        
                            >p {
                                font: bold 15px/1 "Comfortaa", "arial";
                            }
                        }
                        >.right{
                            width: 100%;
                        }
                        
                    }
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}
//cellphone
@media screen and (max-width:$cellphone){
    #visual {    
        width: 100%;
        height: 600px;

        ul.imgBtn{
            >li{
                margin-left: 0px;
            }
        }

        >.inner {
            > li {
                width: 100%;
                height: 100%;
                // padding: 250px 20px;
                &.box{
                    width: 100%;
                    padding: 150px 0;
                    >.wrap {
                        width: 100%;
                        margin: 0 auto;
        
                        >.left {
                            float: none;
                            width: 100%;
        
                            >h1 {
                                font: 40px/1 "Galada", "arial";
                            }
        
                            >p {
                                font: bold 15px/1 "Comfortaa", "arial";
                            }
                        }
        
                        >.right {
                            width: 180px;
                        }
                    }
                }
               
            }
        }
    }
}