@charset 'utf-8';

$tablet : 1179px;
$cellphone : 539px;

//reset
* {margin:0px; padding:0px;}
ul,ol,li {list-style:none;}
a {text-decoration:none; color:#555;}

//sub common layout
#content {
    width:100%; 
    // padding:150px 0px; 
    // box-sizing:border-box;

    .inner {
        width: 1180px;
        min-height: 500px;
        margin: 120px auto 250px;
        position: relative;
        transition: 0.5s;

        >h1 {
            font:bold 20px/1 'arial'; color:#555; margin-bottom:20px;
        }
    }
}

//tablet
@media screen and (max-width:$tablet){
    #content {
       
    
        .inner {
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
        }
    }
    
}
//cellphone
@media screen and (max-width:$cellphone){
    #content {
       
    
        .inner {
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
        }
    }
    
}


//main
@import 'main/header/header';
@import 'main/visual/visual';
@import 'main/intro/intro';
@import 'main/footer/footer';


//sub common
@import 'sub/header/header';
@import 'sub/footer/footer';



//sub page
@import 'sub/department/department';
@import 'sub/community/community';
@import 'sub/member/member';
@import 'sub/gallery/gallery';
@import 'sub/location/location';
@import 'sub/youtube/youtube';
@import 'sub/flickr/flickr';


